[submodule "third_party/tritrpc-v1-full"]
	path = third_party/tritrpc-v1-full
	url = ssh://git@ssh.github.com:443/SocioProphet/tritrpc-v1-full.git
[submodule "third_party/trit-to-trust"]
	path = third_party/trit-to-trust
	url = ssh://git@ssh.github.com:443/SocioProphet/trit-to-trust.git
